{% extends 'account_base.html' %}

{% load static %}

{% block title %} Forgot Password {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center h-full">
  <div class="panel panel-default mt-5">
    <div class="panel-body">
      <div style="max-width: 20rem" class="d-flex flex-column">
        <a href="/" class="mb-5 align-self-center">
          <img src="{% static 'logo.png' %}" style="width: 185px" alt="logo" />
        </a>
        <h3 class="align-self-center">
          <i
            class="fa fa-lock fa-4x gradient-custom-2"
            style="background-clip: text; color: transparent"
          ></i>
        </h3>
        <h2 class="text-center">Forgot Password?</h2>
        <p >
          Please enter your email address to request for a password reset link.
        </p>
        <div class="panel-body">
          <form action="{% url 'forgot_password' %}" method="post">
            {% csrf_token %}

            <div data-mdb-input-init class="form-outline mt-3">
              <input
                required
                value="{{ form_data.email }}"
                name="email"
                type="email"
                id="email_id"
                class="form-control"
                placeholder="Email Address"
              />
              <label class="form-label" for="email_id">Email Address</label>
            </div>

            <div class="text-start">
              {% if errors and errors.email %}
              <div class="text-sm text-danger">
                {% for error in errors.email %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
              </div>
              {% endif %} {% if errors and errors.non_field_errors %}
              <div class="text-sm text-danger">
                {% for error in errors.non_field_errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <div class="text-center pt-1 mb-2 mt-3 pb-1">
              <input
                value="Send"
                type="submit"
                class="btn btn-block fa-lg gradient-custom-2 text-white"
              />
            </div>
          </form>

          {% if success %}
          <div class="alert alert-success" role="alert">
            <p class="d-flex gap-2"><span><i class="fa-solid fa-circle-check"></i></span class="flex-grow">A password reset link has been sent to your email.</p>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
