{% extends 'account_base.html' %} 

{% load static %} 

{% block title %} Reset Password {% endblock %} 

{% block content %}


<div class="container d-flex justify-content-center h-full">
  <div class="panel panel-default mt-5">
    <div class="panel-body">
      <div style="max-width: 20rem" class="d-flex flex-column">
        <div class="mb-5 align-self-center">
          <img src="{% static 'logo.png' %}" style="width: 185px" alt="logo" />
        </div>
        <h3 class="align-self-center">
          <i
            class="fa fa-lock-open fa-4x gradient-custom-2"
            style="background-clip: text; color: transparent"
          ></i>
        </h3>
        <h2 class="align-self-center">Reset Password?</h2>

        <div class="text-start" style="max-width: 20rem">
          {% if form_state.success and form_state.message %}
          <div class="alert alert-success d-flex gap-2 p-4 rounded">
            <span><i class="fa-solid fa-circle-check"></i></span>
            {{ form_state.message }}
          </div>
          {% endif %}
        </div>

        <div class="text-start" style="max-width: 20rem">
          {% if not form_state.posting and not form_state.success %}
          <p
            style="background-color: rgba(241, 123, 123, 0.5)"
            class="text-danger d-flex gap-2 p-4 rounded"
          >
            <span><i class="fa-solid fa-circle-exclamation"></i></span>
            {{ form_state.message }}
          </p>
          {% endif %}
        </div>

        <div class="panel-body">
          <form action="{% url 'reset_password' uidb64=uidb64 token=token %}" method="post">
            {% csrf_token %}
            
            <div data-mdb-input-init class="form-outline mt-3">
              <input
                value="{{ form_state.form_data.password }}"
                name="password"
                type="password"
                id="password_id"
                class="form-control"
                style="width: 20rem"
              />
              <label class="form-label" for="password_id">New Password</label>
            </div>
            {% if form_state.errors and form_state.errors.password %}
            <div class="text-sm text-danger">
              {% for error in form_state.errors.password %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}
            </div>
            {% endif %}

            <div data-mdb-input-init class="form-outline mt-3">
              <input
                value="{{ form_state.form_data.confirm_password }}"
                name="confirm_password"
                type="password"
                id="confirm_password_id"
                class="form-control"
                style="width: 20rem"
              />
              <label class="form-label" for="confirm_password_id"
                >Confirm New Password</label
              >
            </div>

            <div class="text-start">
              {% if form_state.errors and form_state.errors.confirm_password %}
              <div class="text-sm text-danger">
                {% for error in form_state.errors.confirm_password %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
              </div>
              {% endif %}
              
              {% if form_state.errors and form_state.errors.non_field_errors %}
              <div class="text-sm text-danger">
                {% for error in form_state.errors.non_field_errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <div class="text-center pt-1 mb-5 mt-3 pb-1">
              <input
                type="submit"
                class="btn btn-block fa-lg gradient-custom-2 mb-3 text-white"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
