<footer>
  <div class="container gradient-custom-2 text-white mt-5 mb-5 rounded-4" style="padding: 5em 2em;">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>Email: info@example.com</p>
        <p>Phone: +1234567890</p>
        <p>Address: 123 Main Street, City, Country</p>
      </div>
      <div class="col-md-4">
        <h4>Quick Links</h4>
        <ul>
          <div><a href="/">Home</a></div>
          <div><a href="/events">Events</a></div>
          <div><a href="/about">About Us</a></div>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <ul class="social-icons">
          <div>
            <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
          </div>
          <div>
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
          </div>
          <div>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
          </div>
          <div>
            <a href="#"><i class="fab fa-linkedin-in"></i> Linkedin</a>
          </div>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">&copy; 2024 Eventify. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
